section .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section2 {
  margin-top: 50px;
  &-text {
    opacity: 70%;
  }
}

.japan-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 30px 0 0 30px;
}

.benefist {
  display: flex;
  font-size: 13px;
}

.time {
  width: 20px;
  height: 20px;
}

.section2-title {
 z-index: 1;
}